<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/step1.css">
</head>
<body>
   <div class="main">
    <div class="home">
        <div class="navbar">
          <div class="left">
            <img src="./images/Group 11.png" alt="">
          </div>
          <div class="center">
            <a href="#">home</a>
            <a href="#">about us</a>
            <a href="#">services</a>
            <a href="#">contact</a>
          </div>
          <div class="right">
            <button id="btn1" class="btn"><a href="#">login</a></button>
            <button id="btn2" class="btn"><a href="/createevent">create new event</a></button>
          </div>
        </div>
  
        <div class="l1">
          <div class="maintext">
            <h2>step 1</h2>
            <h1>create new event and upload your photos</h1>
            <img src="./images/uploadimg.png" alt="">
          </div>
        </div>
        <div class="r1">
          <h1>create your event title</h1>
          <input id="name" type="text" placeholder="Enter Event Name">
          <h1>Upload Photos</h1>
          <form action="">
            <input id="fileupload" type="file" hidden>
            <i class="ri-folder-upload-fill"></i>
            <h2>Browse to upload photos</h2>
          </form>
          <button id="btn4" class="btn"><a href="/uploadselfie">Next</a></button>
          
        </div>
  
      </div>
   </div>

   <script src="./javascripts/script.js"></script>

</body>
</html>