<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>

  <div class="main">
    <div class="home">
      <div class="navbar">
        <div class="left">
          <img src="./images/Group 11.png" alt="">
        </div>
        <div class="center">
          <a href="#">home</a>
          <a href="#">about us</a>
          <a href="#">services</a>
          <a href="#">contact</a>
        </div>
        <div class="right">
          <button id="btn1" class="btn"><a href="#">login</a></button>
          <button id="btn2" class="btn"><a href="#">create new event</a></button>
        </div>
      </div>

      <div class="l1">
        <div class="maintext">
          <div class="heading">
            <h1>Instantly get your <span id="event">Event</span> Photos
              <span id="faceimg"> via Face Recognition <img src="./images/face.png" alt=""></span>
            </h1>

            <p>Easily share any event photos through the generated link and also everyone can find their photos easily by uploading selfie .</p>

            <div class="features">
              <div class="box">
                <img src="./images/accurate.png" alt="">
                <h4>99% accurate</h4>
              </div>
              <div id="protection" class="box">
                <img src="./images/protection2.png" alt="">
                <h4>100% secure</h4>
              </div>
              <div id="free" class="box">
                <img src="./images/discount.png" alt="">
                <h4>try for free</h4>
              </div>
            </div>

            <button id="btn3"><a href="#">create new event</a></button>

          </div>
        </div>
      </div>
      <div class="r1">
        <img src="./images/mainpageimg.png" alt="">
      </div>

    </div>

    <div class="about">
      <div class="l2">
        <img id="blob" src="./images/blob.png" alt="">
        <img id="aboutpageimg" src="./images/aboutpageimg.png" alt="">
      </div>
      <div class="r2">
        <div class="text2">
          <h2>About Us</h2>
          <p>Welcome to our AI-powered facial recognition photo sorting website! With our technology, you can quickly find and sort photos of group events or your personal gallery. <br>
            Our facial recognition software is accurate, and you can create custom albums to keep everything organized. Plus, our website is secure. Whether you're a professional photographer or just love taking pictures, our website is the perfect solution for keeping your memories in order. Sign up today and enjoy the benefits of an organized photo collection!</p>
            <button id="btn4"><a href="#">create new event</a></button>
        </div>
      </div>
    </div>

    <div class="steps">
      <h2>Get your Photos with 3 simple steps</h2>
      <div class="cards">

        <div class="card">
          <h4>step1</h4>
          <img src="./images/uploadimg.png" alt="">
          <h3>Create a Event & upload 
            your Photos</h3>
        </div>

        
        <div class="card">
          <h4>step2</h4>
          <img id="self" src="./images/selfie.png" alt="">
          <h3>Click a selfie to find your 
            photos easily</h3>
        </div>

        <div class="card">
          <h4>step3</h4>
          <img src="./images/download.png" alt="">
          <h3>Get your photos instantly & 
            download it</h3>
        </div>
     

      </div>

      
    

      
      
    </div>

    <div class="usecases">
      <h2>Use our Modern AI for different Events</h2>
      <div class="allusecase">
        <div class="usecase">
          <div class="top1">
            <img src="https://images.unsplash.com/photo-1550005809-91ad75fb315f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHdlZGRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="">
          </div>
          <div class="bottom1">
            <h3>weddings</h3>
            <p>Lorem ipsum dolor sit amet conse adipisicing elit.</p>
            <button id="btn5"><a href="#">create new event</a></button>
          </div>
        </div>
        <div class="usecase">
          <div class="top1">
            <img src="https://images.unsplash.com/photo-1582243146646-4a1867058f39?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="">
          </div>
          <div class="bottom1">
            <h3>Parties</h3>
            <p>Lorem ipsum dolor sit amet conse adipisicing elit.</p>
            <button id="btn5"><a href="#">create new event</a></button>
          </div>
        </div>
        <div class="usecase">
          <div class="top1">
            <img src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
          </div>
          <div class="bottom1">
            <h3>Schools & Colleges</h3>
            <p>Lorem ipsum dolor sit amet conse adipisicing elit.</p>
            <button id="btn5"><a href="#">create new event</a></button>
          </div>
        </div>
        <div class="usecase">
          <div class="top1">
            <img src="https://images.unsplash.com/photo-1591035897819-f4bdf739f446?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="">
          </div>
          <div class="bottom1">
            <h3>Personal Events</h3>
            <p>Lorem ipsum dolor sit amet conse adipisicing elit.</p>
            <button id="btn5"><a href="#">create new event</a></button>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <h2>available services</h2>
      <div class="groupevent">
        <div class="l3">
          <img src="https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
        </div>
        <div class="r3">
          <div class="cont">
            <h2>Group Event Photos</h2>
            <p>Sort pictures from group event to let your guests find theirs. Try out now in just 3 steps.</p>
            <button id="btn6"><a href="#">create new event</a></button>
          </div>
        </div>
      </div>
      <div id="personalevent" class="groupevent">
        <div class="l4">
          <div class="cont">
            <h2>Personal Photos</h2>
            <p>Sort out pictures that have you in them.</p>
            <button id="btn6"><a href="#">create new event</a></button>
          </div>
        </div>
        <div class="r4">
          <img src="https://images.unsplash.com/photo-1553484771-898ed465e931?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="">   
        </div>
      </div>
    </div>

    <div class="contact">
      <h2>contact us</h2>
      <div class="form">

      
      <div class="l5">
      <form action="#">
        <h2>send us message</h2>
        <input type="text" placeholder="name">
        <input type="text" placeholder="email">
        <textarea name="message" id="message" placeholder="message" cols="29" rows="10"></textarea>
        <button id="btn7"><a href="#">Send</a></button>
      </form>
      </div>
      <div class="r5">
        <div class="emailbox">
          <div class="email">
            <i class="ri-mail-fill"></i>
            <h4>someonecompany@gmail.com</h4>
          </div>

          <div class="phone">
            <i class="ri-phone-fill"></i>
            <h4>+91 012345 - 67890</h4>
          </div>
        </div>
        <div class="emailbox">
          <div class="address">
            <i class="ri-map-pin-2-fill"></i>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, quae.</h4>
          </div>
        </div>
      </div>

    </div>
    </div>

    <div class="footer">

      <div class="footerpart">

      

      <div class="first">
        <img src="./images/Group 11.png" alt="">
        <div class="socials">
          <div class="circle">
            <i class="ri-instagram-line"></i>
          </div>
          <div class="circle">
            <i class="ri-facebook-fill"></i>
          </div>
          <div class="circle">
            <i class="ri-twitter-fill"></i>
          </div>
          <div class="circle">
            <i class="ri-linkedin-fill"></i>
          </div>
        </div>
      </div>
      <div class="quicklinks">
        <h4>quick links</h4>
        <div class="alllink1">
          <a href="#">login</a>
          <a href="#">about us</a>
          <a href="#">services</a>
          <a href="#">create new event</a>
        </div>
        </div>
      <div class="quicklinks">
        <h4>use cases</h4>
        <div class="alllink1">
          <a href="#">weddings</a>
          <a href="#">parties</a>
          <a href="#">schools & colleges</a>
          <a href="#">personal events</a>
        </div>
        </div>
      <div class="quicklinks">
        <h4>company</h4>
        <div class="alllink1">
          <a href="#">about us</a>
          <a href="#">contact us</a>
          <a href="#">terms and conditions</a>
          <a href="#">privacy and policy</a>
        </div>
        </div>

      </div>

    </div>

  </div>

</body>

</html>